@BgColor: bisque;
@BorderRadius: 10px;

.container{
    max-width: 1000px;
    background: bisque;
    @BorderRadius: 10px;
    margin: 20px auto;

    .content{
        @BgColor: bisque;
        padding: 20px;
    }
    h1{
        font-size: 20px;
    }
    
    p{
        color: aqua;
    }
}