.image_frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-items: flex-start;
    width: 900px;
    height: 215px;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 14px;
    padding-top: 15px;
}

.anna2{
    height: 154px;
    width: 118px;
}

.charles2{
    height: 154px;
    width: 118px;
}

.oscar2{
    height: 154px;
    width: 118px;
}

.cervantes2{
    height: 154px;
    width: 118px;
}

.poe2{
    height: 154px;
    width: 118px;
}

.wordsworth2{
    height: 154px;
    width: 118px;
}

.shakespeare1{
    width: 279px;
    height: 356px;
    margin-left: 10px;
    margin-top: 10px;
}

.main_table{
    margin-top: 10px;
    margin-left: 10px;
}

.container_third{
    min-width: 250px;
    border: 1px solid black;
    max-height: 550px;
    margin-top: 15px;
    background-color: grey;
}


body{
    margin: 0;
    padding: 0;
}

.container{
    position: sticky;
    top: 0;
}