.image_frame{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-items: flex-start;
    width: 900px;
    height: 200px;
    border: 1px solid black;
    padding-left: 20px;
    font-size: 14px;
    padding-top: 15px;
}

.anna2{
    height: 154px;
    width: 118px;
}

.charles2{
    height: 154px;
    width: 118px;
}

.oscar2{
    height: 154px;
    width: 118px;
}

.cervantes2{
    height: 154px;
    width: 118px;
}

.poe2{
    height: 154px;
    width: 118px;
}