.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #614500;
    transform: translate(-50%, -50%);
}

.main div{
    position: absolute;
    top: 50%;
    left: 50%;
}

.dot{
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background: #747;
    transform: translate(-50%,-50%);
}

.hh{
    width: 80px;
    height: 8px;
    transform: translate(-50%); rotate: (-180deg);
    background-color: blue;
}

.mm{
    width: 6px;
    height: 100px;
    background-color: black;
    transform: translate(-50%); rotate: (-180deg);
    transform-origin: 0 0;
}

.ss{
    width: 120px;
    height: 8px;
    background-color: red;
    transform: translate(0,-50%);
}