.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid blue;
    transform: translate(-50%, -50%);
}

.main div{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #444;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot{
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background: #747;
}

.hh{
    width: 80px;
    height: 8px;
}

.mm{
    width: 100px;
    height: 8px;
}

.ss{
    width: 120px;
    height: 8px;
    background-color: red;
    transform: translate(0,-50%);
}