.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 315px;
    height: 315px;
    border-radius: 50%;
    border: 5px solid #614500;
    transform: translate(-50%, -50%);
}

.main div{
    position: absolute;
    top: 50%;
    left: 50%;
}

.dot{
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background: #747;
    transform: translate(-50%,-50%);
}

.hh{
    width: 80px;
    height: 8px;
    background-color: blue;
    transform-origin: 0 50%;
    transform: translate(0,-50%) rotate(-90deg);
}

.mm{
    width: 100px;
    height: 6px;
    background-color: black;
    transform-origin: 0 50%;
    transform: translate(0,-50%) rotate(-90deg);
}

.ss{
    width: 142px;
    height: 7px;
    background-color: red;
    transform-origin: 0 50%;
    transform: translate(0,-50%) rotate(-90deg);
    animation: clock 60s steps(60) infinite;
    border-radius: 10px;
}

@keyframes clock {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}