
body{
    margin: 0;
}


* {
    /* box-sizing: border-box; */
}


html{
    font-size: 10px;
}



.block {
    background-color: blue;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    /* width: 80%; */ 
    font-size: 1.6rem;
}

.block_inside{
    height: 200px;
    background: lightgreen;
    padding: 1.5rem;
    border: 3px solid black;
    display: inline-block;
    width: 20%;
    margin-left: 1rem;
    font-size: 2rem;
    box-sizing: border-box;
    min-width: 300px;
}
