@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0;
    background: burlywood;
    font-weight: 700;
    background-image: url(https://foni.club/uploads/posts/2023-02/1676686320_foni-club-p-oboi-yarkie-4k-na-pk-2.jpg);
    background-size: auto;
    font-family: 'Montserrat', sans-serif;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: blueviolet;
    color: white;
    text-transform: uppercase;
    height: 6%;
    width: 79.5%;
    left: 10.2%;
    top: 4px;
    position: absolute;
    border-radius: 5px;
    text-align: center;
}

.menu{
    background-color: rgb(255 128 37);
    color: white;
    text-transform: uppercase;
    height: 25px;
    top: 72px;
    position: absolute;
    width: 79.4%;
    left: 10.3%;
    border-radius: 5px;
    text-align: center;
}

.aside1{
    background-color: #d2d500;
    color: white;
    text-transform: uppercase;
    width: 17%;
    height: 15%;
    position: absolute;
    left: 10.3%;
    top: 101px;
    text-align: center;
    border-radius: 5px;
}

.aside2{
    background-color: blue;
    color: white;
    text-transform: uppercase;
    width: 17%;
    height: 23.6%;
    position: absolute;
    left: 10.3%;
    top: 278px;
    text-align: center;
    border-radius: 5px;
}

.main_content{
    text-transform: uppercase;
    background-color: aquamarine;
    width: 44%;
    left: 28.3%;
    margin: 0 auto;
    top: 101px;
    position: absolute;
    height: 39.72%;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.aside3{
    background-color: cadetblue;
    color: white;
    text-transform: uppercase;
    width: 16.4%;
    height: 39.6%;
    position: absolute;
    left: 73.3%;
    top: 102px;
    text-align: center;
    border-radius: 5px;
}

.section1{
    background-color: forestgreen;
    text-transform: uppercase;
    width: 72%;
    left: 13.3%;
    margin: 0px auto;
    top: 30px;
    position: absolute;
    height: 42%;
    text-align: center;
    border-radius: 5px;
    color: white;
}


.section2{
    background-color: fuchsia;
    text-transform: uppercase;
    width: 72%;
    left: 13.3%;
    margin: 0px auto;
    top: 221px;
    position: absolute;
    height: 46%;
    text-align: center;
    border-radius: 5px;
    color: white;
}


.footer{
    background-color: rgb(177, 0, 98);
    text-transform: uppercase;
    width: 79.4%;
    height: 4.6%;
    position: absolute;
    left: 10.3%;
    top: 544px;
    text-align: center;
    border-radius: 5px;
    color: white;
}