body{
    margin: 0;
    background-color: gray;
    font-size: bold;
    font-weight: 700;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: rgb(133, 0, 62);
    color: white;
    text-transform: uppercase;
    height: 6%;
    width: 79.5%;
    left: 10.2%;
    top: 4px;
    position: absolute;
}

.menu{
    background-color: rgb(133, 0, 62);
    color: white;
    text-transform: uppercase;
    height: 20px;
    top: 67px;
    position: absolute;
    width: 79.4%;
    left: 10.3%;
}

.aside1{
    background-color: purple;
    color: white;
    text-transform: uppercase;
    width: 17%;
    height: 15%;
    position: absolute;
    left: 10.3%;
    top: 96px;
    text-align: center;
}

.aside2{
    background-color: blue;
    color: white;
    text-transform: uppercase;
    width: 17%;
    height: 17.6%;
    position: absolute;
    left: 10.3%;
    top: 253px;
    text-align: center;
}

.main_content{
    text-transform: uppercase;
    background-color: rgb(95, 15, 46);
    width: 40%;
    left: 32%;
    margin: 0 auto;
    top: 168px;
    position: absolute;
    height: 26.5%;
    text-align: center;
}

.section1{
    background-color: white;
}


.section2{
    background-color: white;
}