body{
    display: block;
    margin: 8px;
    background-image: url(https://www.rabstol.net/uploads/gallery/main/229/rabstol_net_flags_52.jpg);
    background-size: cover;
}


.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
}


img {
    position: absolute;
    border: 3px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: black;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

div {
    display: block;
}

.vik_vik1{
    max-width: 250px;
    max-height: 400px;
    left: 20%;
    top: 75px;
    transition: 1s;
}


.vik_vik2{
    left: 28%;
    top: 130px;
    max-width: 250px;
    max-height: 400px;
    transition: 1s;
}

.vik_vik3{
    left: 50%;
    top: 70px;
    max-width: 250px;
    max-height: 400px;
    transition: 1s;
}


.vik_vik4 {
    left: 43%;
    top: 210px;
    max-width: 250px;
    max-height: 400px;
    transition: 1s;
}

.vik_vik1:hover{
    filter: grayscale(0);
    transform: scale(1.5);
    opacity: 1;
}

.vik_vik2:hover{
    filter: grayscale(0);
    transform: scale(1.5);
    opacity: 1;
}

.vik_vik3:hover{
    filter: grayscale(0);
    transform: scale(1.5);
    opacity: 1;
}


.vik_vik4:hover{
    filter: grayscale(0);
    transform: scale(1.5);
    opacity: 1;
}