body{
    display: block;
    margin: 8px;
}


.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
}


img {
    position: absolute;
    border: 3px double red;
    border-radius: 8px;
    padding: 2px;
    background-color: white;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

div {
    display: block;
}

.vik_vik1{
    max-width: 250px;
    max-height: 400px;
    left: 20%;
    top: 60px;
}


.vik_vik2{
    left: 28%;
    top: 130px;
    max-width: 250px;
    max-height: 400px;
}

.vik_vik3{
    left: 50%;
    top: 20px;
    max-width: 250px;
    max-height: 400px;
}