@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  background: bisque;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.container {
    max-width: 1280px;
    margin: 0 auto;    
  }

  .logo, nav, main, aside {
    border: 3px black solid;
    padding: 10px;
    border-radius: 10px;
  }

  .flex {
    display: flex;
  }

  aside .img {
    width: 70px;
    height: 70px;
  }

  aside>.flex {
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around
  }

  .img {
    height: 300px;
    background-image: url(https://mf.b37mrtl.ru/russian/images/2019.01/article/5c40a6ad183561d7308b4587.jpg);
  }

  .jcsb {
    justify-content: space-between;
  }

  .aife {
    align-items: flex-end;
  }
  
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  nav {
    margin: 10px 0;
    gap: 10px;
  }
  nav input {
    margin-left: auto;
  }
  footer {
    margin-top: 10px;
  }
  aside {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 320px;
  }
  ul {
    padding: 0;
    list-style: none;
  }

  .topFinder{
      display: none;
  }

  .sputniki{
    background-image: url(https://minio.nplus1.ru/app-images/787737/645e15cb2d627_img_desktop.jpg);
    width: 322px;
    height: 267px;
    background-size: contain;
    margin: 20px 10px 10px 10px;
  }

  .navFinder{
    border: 1px solid black;
  }
  
  
  @media screen and (max-width:1024px){
      .topFinder{
          display: inline;
      }
      .navFinder{
          display: none;
      }

      aside {
          width: 160px;
      }

      .img{
          height: 200px;
      }
  }

  @media screen and (max-width:768px){
      .list{
          display: none;
      }

      .content{
          flex-direction: column;
      }

      aside{
          width: 100%;
          margin: 10px 0;
          box-sizing: border-box;
      }

      .aife{
          align-items: flex-start;
      }

      aside>.flex {
        flex-wrap:nowrap;
      }
  }