.container {
    max-width: 1680px;
    margin: 0 auto;
  }

.cat_wikipedia{
    width: 19%;
    height: 22%;
    top: -272px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    left: 75%;
}

.cat_wikipedia2{
    width: 19%;
    height: 22%;
    top: -213px;
    position: relative;
    border-radius: 10px;
    left: 75%;
}

.text{
    gap: 10px;
    width: 50%;
}