.container {
    max-width: 1920px;
  }

.cat_wikipedia{
    width: 19%;
    height: 22%;
    top: -285px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    left: 105%;
}

.cat_wikipedia2{
    width: 19%;
    height: 22%;
    top: -255px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    left: 105%;
}
