.content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.bg {
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  filter: blur(5px);
  background: url(http://files.all-free-download.com//downloadfiles/wallpapers/1920_1080/tropical_beach_paradise_5k_17484.jpg) no-repeat center;
  background-size: cover;
}