div {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid grey;
}

.position {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
}

.position div {
    background: gray;
}